
  .square{
    width: 45px;
    height: 45px;
    display: inline-block;
    margin: 0px;
    animation: fadeIn 1s;
    border: 1px solid rgba(0, 0, 0, 0.8);
  }

  #boardInner{
    border: solid 1px black;
    display: grid;
    flex-wrap: wrap;
    margin: auto;
  }
  
  @keyframes fadeIn {
    0%{
      transform: rotateY(180deg);
    } 100% {
     transform: rotateY(0deg);
    }
  }