.twoc{
    width: 45px;
    height: 45px;
    display: inline-block;
    margin: 0px;
    background-color: cyan;
    animation: fadeIn 1s;
    border-left: 1px solid rgba(0, 0, 0, 0.8);
    border-right: 1px solid rgba(0, 0, 0, 0.8);
  }
  .twoo{
    width: 45px;
    height: 45px;
    display: inline-block;
    background-color: red;
    margin: 0px;
    animation: fadeIn 1s;
    border-left: 2px solid rgba(0, 0, 0, 0.8); 
    border-top: 2px solid rgba(0, 0, 0, 0.8);
  }
  .background-red {
    background-color: red;
  }
  
  .background-blue {
    background-color: blue;
  }
  .three{
    width: 45px;
    height: 45px;
    background-color: blue;
    display: inline-block;
    margin: 0px;
    animation: fadeIn 1s;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  }
  .twop{
    width: 45px;
    height: 45px;
    background-color: black;
    display: inline-block;
    margin: 0px;
    animation: fadeIn 1s;
    border: 2px solid rgba(0, 0, 0, 0.8);
  }

  #boardInner{
    border: solid 1px black;
    display: grid;
    flex-wrap: wrap;
    margin: auto;
  }
  
  @keyframes fadeIn {
    0%{
      transform: rotateY(180deg);
    } 100% {
     transform: rotateY(0deg);
    }
  }